<div [@fadeIn]>
  <div class="container mt-4">
      <div class="row">
        <div class="col-md-6">
          <img [src]="ThisItem.imgUrl" alt="" class="card-img-top">
        </div>
        <div class="col-md-6 shadow-lg p-3 mb-5 bg-white rounded">
          <h2 class="mb-4 text-center">{{ThisItem.shortDescription}}</h2>
          <p class="lead mb-4">{{ThisItem.longDescription}}</p>
          <h5 class="mb-3">Item Details:</h5>
          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item">Category: {{ThisItem.category}}</li>
            <li class="list-group-item">Size: {{ThisItem.size}}</li>
          </ul>
          <h5 class="mb-3 text-center">Rating</h5>
          <div class="d-flex justify-content-center small mb-2">
          <span class="star" *ngFor="let star of [1, 2, 3, 4, 5]" [class.full]="star <= countStars()" [class.empty]="star > countStars()">
            <div [class.bi-star-fill]="true" [class.text-warning]="star <= countStars()"></div>
          </span>
           <span>({{commentsCount()}})</span>
          </div>
          <h5 class="mb-3 text-center mt-3">Price</h5>
          <div class="justify-content-center text-center">
          <div  class="badge bg-dark text-white m-1" *ngIf="ThisItem?.sale" style="top: 0.5rem; right: 0.5rem">Sale</div>
          <span class="text-muted text-decoration-line-through" *ngIf="ThisItem?.sale">{{ThisItem.oldPrice}} zł</span>
          <div class="text-center pb-5">{{ThisItem.price}}zł</div>
         </div>
         <div class="card-footer p-3 p-sm-4 pt-0 border-top-0 bg-transparent">
          <div *ngIf="!checkItem(ThisItem.itemId)" class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="addItem(ThisItem!.itemId)">Add to cart</a></div>
          <div *ngIf="checkItem(ThisItem.itemId)" class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="removeItem(ThisItem!.itemId)">Remove from cart</a></div>
        </div>
        </div>
      </div>
      <div class="container my-5">
        <h3>Comments</h3>
        <hr>
        <div class="row">  
  <div class="col-md-8">
    <div *ngIf="ThisItem.comments.length > 0" class="text-right">
      
      <button class="btn mb-1 btn-primary" (click)="sortCommentsByDate()">Sort by Date</button>
    </div>
  
    <div *ngFor="let comment of ThisItem.comments" class="card mb-3 shadow-sm bg-white rounded">
      <div *ngIf="comment.userID == userID; else normalComment" class="card-body" style ="background-color: rgb(207, 226, 255);">
        <h5 class="card-title">{{comment.userName}}</h5>
        <div class="d-flex  small mb-2">
          <span class="star" *ngFor="let star of [1, 2, 3, 4, 5]" [class.full]="star <= comment.rating" [class.empty]="star > comment.rating">
            <div [class.bi-star-fill]="true" [class.text-warning]="star <= comment.rating"></div>
          </span>
        </div>
        <p class="card-text">{{comment.commentText}}</p>
        <p class="card-text"><small class="text-muted">{{comment.creationDate}}</small></p>
      </div>
      <ng-template #normalComment>
        <div class="card-body">
          <h5 class="card-title">{{comment.userName}}</h5>
          <div class="d-flex  small mb-2">
            <span class="star" *ngFor="let star of [1, 2, 3, 4, 5]" [class.full]="star <= comment.rating" [class.empty]="star > comment.rating">
              <div [class.bi-star-fill]="true" [class.text-warning]="star <= comment.rating"></div>
            </span>
          </div>
          <p class="card-text">{{comment.commentText}}</p>
          <p class="card-text"><small class="text-muted">{{comment.creationDate}}</small></p>
        </div>
      </ng-template>

    </div>
  </div>
  
  
        <div *ngIf ="isLoggedOrCommentFromUserExist()" class="row">
          <div class="col-md-8">
           <div class="d-flex  small mb-2">
              <span class="star" *ngFor="let star of [1, 2, 3, 4, 5]" [class.full]="star <= yourComment.rating" [class.empty]="star > yourComment.rating || hoverValue < star" (mouseenter)="hoverValue = star" (mouseleave)="hoverValue = yourComment.rating" (click)="yourComment.rating = star">
                <div [class.bi-star-fill]="true" [class.text-warning]="star <= hoverValue || star <= yourComment.rating"></div>
              </span>
            </div>
            <form>
              <div class="form-group">
                <label for="commentText">Comment:</label>
                <textarea class="form-control" id="commentText" rows="3" required [(ngModel)]="commentText" [ngModelOptions]="{standalone: true}"></textarea>
              </div>
              <button (click)="SendComment()" class="btn btn-primary mt-2">Submit</button>
            </form>
          </div>
        </div>
        <div *ngIf="!isLoggedOrCommentFromUserExist()">
          <aside>
            <div *ngIf="userID == 0">Zaloguj sie aby ocenic produkt</div>
            <div *ngIf="userID > 0">Napisales juz komentarz</div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  