<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4 class="text-center">Dodawanie produktu</h4>
        </div>
        <div class="card-body">
<form #itemAdd="ngForm" (ngSubmit)="validData(itemAdd.value) ;itemAdd.reset()">

  <div class="form-group">
    <label for="shortDescription">Krótki opis:</label>
    <input type="text" class="form-control" id="shortDescription" name="shortDescription" ngModel>
  </div>

  <div class="form-group">
    <label for="longDescription">Długi opis:</label>
    <textarea class="form-control" id="longDescription" name="longDescription" ngModel></textarea>
  </div>

  <div class="form-group">
    <label for="price">Cena:</label>
    <input type="number" class="form-control" id="price" name="price" ngModel [ngClass]="{'border-danger':priceAlert.length!=0}">
  </div>
  <div  class="text-danger">
    {{priceAlert}}
  </div>

  <div class="form-group">
    <label for="imgUrl">URL obrazka:</label>
    <input type="text" class="form-control" id="imgUrl" name="imgUrl" ngModel>
  </div>

  <div class="form-group">
    <label for="size">Rozmiar:</label>
    <input type="text" class="form-control" id="size" name="size" ngModel>
  </div>

  <div class="form-group mb-2 mt-2">
    <label for="category">Kategoria:</label>

    <input class="m-lg-2" list="category-list"  id="category" name="category" ngModel>

    <datalist id="category-list">
      <option value="SHOES">Buty</option>
      <option value="T_SHIRT">Koszulka</option>
      <option value="TROUSERS">Spodnie</option>
      <option value="CAP">Czapka</option>
      <option value="DRESS">Sukienka</option>
      <option value="SHORTS">Szorty</option>
      <option value="SOCKS">Skarpetki</option>
      <option value="HOODIE">Bluza</option>
      <option value="SKIRT">Spódnica</option>
      <option value="JACKET">Kurtka</option>
      <option value="SHIRT">Koszula</option>
    </datalist>
  </div>





  <div class="form-group">
    <label for="oldPrice">Stara cena:</label>
    <input type="number" class="form-control" id="oldPrice" name="oldPrice" ngModel [ngClass]="{'border-danger':oldPriceAlert.length!=0}">
  </div>
  <div  class="text-danger">
    {{oldPriceAlert}}
  </div>

  <div class="form-group mt-2">
    <label for="sale" class="form-check-label">Wyprzedaż:</label>
    <input type="checkbox" class="form-check-input m-lg-2" id="sale" name="sale" ngModel>
  </div>



  <button type="submit" class="btn btn-primary float-end">Dodaj</button>
</form>
          <div *ngIf="showSuccessMessage" class="alert alert-success">Produkt został dodany</div>
        </div>
      </div>
    </div>
  </div>
</div>

