
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4 class="text-center">Rejestracja</h4>
        </div>
        <div class="card-body">
          <form  #registration="ngForm"  (ngSubmit)="validData(registration.value)">

            <div class="form-group ">
              <label for="firstName">Imię:</label>
              <input type="text" class="form-control " id="firstName" name="firstName" [ngClass]="{'border-danger':fistNameAlert.length!=0}" ngModel>
            </div>
            <div  class="text-danger">
              {{fistNameAlert}}
            </div>
            <div class="form-group">
              <label for="surname">Nazwisko:</label>
              <input type="text" class="form-control" id="surname" name="surname" ngModel  [ngClass]="{'border-danger':surnameAlert.length!=0}">
            </div>
            <div  class="text-danger">
              {{surnameAlert}}
            </div>
            <div class="form-group">
              <label for="zipCode">Kod pocztowy:</label>
              <input type="text" class="form-control" id="zipCode" name="zipCode" ngModel  [ngClass]="{'border-danger':zipCodeAlert.length!=0}">
            </div>
            <div  class="text-danger">
              {{zipCodeAlert}}
            </div>
            <div class="form-group">
              <label for="city">Miasto:</label>
              <input type="text" class="form-control" id="city" name="city" ngModel [ngClass]="{'border-danger':cityAlert.length!=0}">
            </div>
            <div  class="text-danger">
              {{cityAlert}}
            </div>
            <div class="form-group">
              <label for="street">Ulica:</label>
              <input type="text" class="form-control" id="street" name="street" ngModel [ngClass]="{'border-danger':streetAlert.length!=0}">
            </div>
            <div  class="text-danger">
              {{streetAlert}}
            </div>
            <div class="form-group">
              <label for="apartmentNumber">Numer mieszkania:</label>
              <input type="text" class="form-control" id="apartmentNumber" name="apartmentNumber" ngModel [ngClass]="{'border-danger':apartmentNumberAlert.length!=0}">
            </div>
            <div  class="text-danger">
              {{apartmentNumberAlert}}
            </div>
            <div class="form-group">
              <label for="phoneNumber">Numer telefonu:</label>
              <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" ngModel [ngClass]="{'border-danger':phoneNumberAlert.length!=0}">
            </div>
            <div  class="text-danger">
              {{phoneNumberAlert}}
            </div>
            <div class="form-group">
              <label for="email">Adres e-mail:</label>
              <input type="email" class="form-control" id="email" name="email" ngModel [ngClass]="{'border-danger':emailAlert.length!=0}">
            </div>
            <div  class="text-danger">
              {{emailAlert}}
            </div>

            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="companyCheck" name="company" #company ngModel>
                <label class="form-check-label" for="companyCheck">
                  Firma
                </label>
              </div>
            </div>

            <div class="form-group">
              <label for="nip">NIP:</label>
              <input type="text" class="form-control" id="nip"  name="nip" #nip disabled  ngModel [ngClass]="{'border-danger':nipAlert.length!=0}">
            </div>
            <div  class="text-danger">
              {{nipAlert}}
            </div>
            <div class="form-group">
              <label for="password">Hasło</label>
              <input type="password" class="form-control" id="password" name="password" ngModel [ngClass]="{'border-danger':passwordAlert.length!=0}">
            </div>
            <div  class="text-danger">
              {{passwordAlert}}
            </div>
            <div class="form-group">
              <label for="password2">Potwierdz hasło</label>
              <input type="password" class="form-control" id="password2" #confirmPassword [ngClass]="{'border-danger':confirmPasswordAlert.length!=0}">
            </div>
            <div  class="text-danger">
              {{confirmPasswordAlert}}
            </div>
            <div  class="text-danger">
              {{emailTaken}}
            </div>

            <button type="submit" id="registerButton" class="btn btn-primary mt-2 float-end">{{registerButtonText}}</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
