#section-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon{
  height: 40px;
  width: 40px;
  margin: auto 50px auto 0;
}
.icon:hover{
  transform: scale(1.2);
}
.icon-logo{
  height: 70px;
  width: 70px;
  margin: auto 10px auto 30px;
  border: #0e0d0d;
}
#logoShop{
  color: black;
  text-decoration: none;
  font-size: xxx-large;
  /*font-family: "Bookman Old Style";*/

}
#logoShop:hover{
  opacity: 70%;
}

header>a{
  margin: auto 0 ;
}
#logoa{
  margin:0 auto;
  padding: 0;
  height: 100px;
  width: auto;

}
.logo{
  height: 100px;
}

/*@media screen and (max-width:  700px){*/
/*  .icon{*/
/*    margin: 10px*/
/*  }*/
/*}*/



/*.container{*/
/*  background: #777 ;*/
/*  height: 100%;*/
/*  !*display: flex;*!*/
/*  !*align-items: center;*!*/
/*}*/
/*!*#category-nav{*!*/
/*!*  background-color: pink;*!*/
/*!*  height: 100%;*!*/
/*!*}*!*/
/*p{*/
/*  margin-left: 5px;*/
/*  font-size: 25px;*/
/*  padding: 10px;*/

/*}*/
/*.category-list {*/
/*  list-style: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*.category-list li {*/
/*  float: left;*/
/*  margin-right: 20px;*/
/*}*/

/*.category-list li:last-child {*/
/*  margin-right: 0;*/
/*}*/

/*.category-list:after{*/
/*  content: "";*/
/*  display: block;*/
/*  clear: both;*/
/*!*}*!*/
/*nav{*/
/*  height: initial;*/
/*  width: 150px;*/
/*  background-color: #777;*/
/*  padding:20px 10px 10px 10px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  gap: 10px;*/
/*  justify-content: space-around;*/
/*  float: left;*/
/*}*/
/*nav>ul>li{*/
/*  background-color: darkgray;*/
/*  border-radius: 3px;*/
/*  !*border: 1px #54504F solid;*!*/
/*  font-size: 1.3em;*/
/*  width: 4em;*/
/*  text-align: center;*/
/*  list-style: none;*/
/*  !*box-shadow: grey -3px 5px;*!*/
/*}*/
/*nav>ul>li:hover{*/
/*  position: relative;*/
/*  bottom: 5px;*/
/*  cursor: pointer;*/
/*}*/
/*nav>ul>li>a:link{*/
/*  text-decoration: none;*/
/*}*/
/*a{color: black}*/
