<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-header bg-primary text-white">
          <h4 class="text-center">Potwierdzenie danych do zamówienia</h4>
        </div>
        <div class="card-body">

          <form  #order="ngForm">

            <div class="form-group ">
              <label>Imię: </label>
              <label id="firstName" class="ms-1 fw-bold"> {{currentUser.firstName}}</label>
<!--              <input type="text" class="form-control " id="rt" name="firstName" ngModel="{{currentUser.firstName}}" disabled>-->
            </div>

            <div class="form-group">
<!--              <label for="surname">Nazwisko:</label>-->
<!--              <input type="text" class="form-control" id="surname" name="surname" ngModel="{{currentUser.surname}}" disabled>-->
              <label>Nazwisko: </label>
              <label id="surname"  class="ms-1 fw-bold">{{currentUser.surname}}</label>
            </div>

            <div class="form-group">
              <label >Kod pocztowy: </label>
              <label id="zipCode"  class="ms-1 fw-bold">{{currentUser.zipCode}}</label>

<!--              <input type="text" class="form-control" id="zipCode" name="zipCode" ngModel="{{currentUser.zipCode}}" disabled>-->
            </div>

            <div class="form-group">
              <label>Miasto: </label>
              <label id="city"  class="ms-1 fw-bold">{{currentUser.city}}</label>

<!--              <input type="text" class="form-control" id="city" name="city" ngModel="{{currentUser.city}}" disabled>-->
            </div>

            <div class="form-group">
              <label >Ulica: </label>
              <label id="street" class="ms-1 fw-bold">{{currentUser.street}}</label>

<!--              <input type="text" class="form-control" id="street" name="street" ngModel="{{currentUser.street}}" disabled>-->
            </div>

            <div class="d-flex justify-content-between">
              <div>
                <div class="form-group " >
                  <label >Numer domu: </label>
                  <label id="houseNumber"  class="ms-1 fw-bold">{{currentUser.houseNumber}}</label>
                  <!--                  <input type="text" class="form-control" id="houseNumber" name="houseNumber" ngModel="{{currentUser.houseNumber}}" disabled>-->
                </div>

              </div>
              <div>
                <div class="form-group ">
                  <label >Numer mieszkania: </label>
                  <label id="apartmentNumber"  class="ms-1 fw-bold">{{currentUser.apartmentNumber}}</label>
<!--                  <input type="text" class="form-control" id="apartmentNumber" name="apartmentNumber" ngModel="{{currentUser.apartmentNumber}}" disabled>-->
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Numer telefonu: </label>
              <label id="phoneNumber" class="ms-1 fw-bold">{{currentUser.phoneNumber}}</label>
<!--              <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" ngModel="{{currentUser.phoneNumber}}" disabled>-->
            </div>

            <div class="form-group">
              <label>Adres e-mail:</label>
              <label id="email"  class="ms-1 fw-bold">{{currentUser.email}}</label>
<!--              <input type="email" class="form-control" id="email" name="email" ngModel="{{currentUser.email}}" disabled>-->
            </div>

<!--            <div class="form-group">-->
<!--              <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" id="companyCheck" name="company" #company ngModel="{{currentUser.company}}" disabled >-->
<!--                <label class="form-check-label" for="companyCheck">-->
<!--                  Firma-->
<!--                </label>-->
<!--              </div>-->
<!--            </div>-->

            <div class="form-group" *ngIf="currentUser.company">
              <label>NIP:</label>
              <label id="nip" class="ms-1 fw-bold " >{{currentUser.nip}}</label>
<!--              <input type="text" class="form-control" id="nip"  name="nip" #nip disabled  ngModel="{{currentUser.nip}}">-->
            </div>
          </form>


        </div>
      </div>
    </div>

    <div class="col-md-6">

        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4 class="text-center">Płatność</h4>
          </div>
          <div class="card-body">
            <div class="col p-2">
                <aside *ngIf="basket.getSum()!=0"> Wartość produktów: <b>{{basket.getSum() |number :'.2-2'}} zł </b><br>

                </aside>
            </div>
          </div>
        </div>

      <div class="card mt-3">
        <div class="card-header bg-primary text-white">
          <h4 class="text-center">Dostawa</h4>
        </div>
        <div class="card-body">
          <h4>Wybierz rodzaj dostawy: </h4>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked (click)="changeDeliveryCost(19.99)"  >
            <label class="form-check-label" for="flexRadioDefault1">
              Inpost 19.99 zł

            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"  (click)="changeDeliveryCost(25.99)">
            <label class="form-check-label" for="flexRadioDefault2">
              Poczta Polska 25.99zł
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3"  (click)="changeDeliveryCost(26.99)">
            <label class="form-check-label" for="flexRadioDefault3">
              Inpost Kurier 26.99 zł
            </label>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-12 mt-3">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h4 class="text-center">Razem</h4>
      </div>
      <div class="card-body">
        Razem z dostawą: <b>{{basket.getSum() + deliveryCost |number :'.2-2'}}zł</b><br>

      </div>
    </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
      <button class="btn btn-secondary me-md-2 btn-lg" type="button"><a class="text-decoration-none link-light" routerLink="/order">Cofnij</a></button>
      <button  class="btn btn-success me-md-2 btn-lg" type="button"><a class="text-decoration-none link-light" routerLink="/order-payment">Zapłać</a></button>
    </div>
    </div>


  </div>
</div>

