<header>
  <div id="section-logo">
    <img src="assets/img/icon/shop.png" class="icon-logo" alt="favourite" >
    <a routerLink="/" id="logoShop"> MyShop </a>
  </div>
<!--  <img src="assets/img/logo.png" class="logo" alt="logo">-->
  <nav>
    <a href="">  <img src="assets/img/icon/heart.png" class="icon" alt="favourite" > </a>
    <a routerLink="/basket"> <a href=""> <img src="assets/img/icon/shopping-cart.png" class="icon" alt="basket"></a></a>
    <a href=""> <img src="assets/img/icon/user-in-a-square.png" class="icon"  alt="user-profile"></a>
  </nav>
 </header>

